* {
    border: none;
    border-radius: 0;
    font-family: "Roboto Mono Light", "Noto Sans CJK JP Light";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #FFFFFF; /* disabled for empty */
}

#workspaces button.occupied {
    color: #FFFFFF;
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #FFFFFF;
}

#workspaces button.urgent {
    background: #FF0000;
}

#memory, #cpu, #custom-temps, #mpris, #pulseaudio, #network, #clock, #battery {
    padding: 0 5px;
    margin: 0 2px;
}

#tray {
    padding: 0 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #FF0000;
}
